/* Estilos Gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Header */

.header {
    width: 100%;
    top: 0;
    background: #fec63e;
    padding: 15px 0;
    position: fixed;
}

.header_menu {
    text-align: right;
    
}

.header_menu ul li {
    display:inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

.header_menu ul li a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 5px;
    /* background: red; */
}

.header_menu ul li a:hover{
    color:white;
}

/*Introdução */

.introducao{
    width: 100%;
    background: url("/img/bg.jpg") no-repeat center;
     background-size: cover; /*cobrir inteiro */
     margin-top: 96px;
 
}